@import "../val";

/***** navbar *****/
nav {
  .nav-links {
    display: none !important;
  }

  .brand {
    width: 100% !important;

    h2 {
      width: 100%;
      text-align: start;
    }
  }

  .navbar-icons {
    width: 15%;

    .collapse-navbar {
      i.fa-bars {
        display: block !important;
      }
    }
  }
}
/***** End navbar *****/
* {
  // outline: 1px solid;
}
/***** homepage *****/
.home {
  aside {
    width: 50% !important;

    h1 {
      width: 100% !important;
      left: 50% !important;
      font-size: 3.5rem !important;
    }

    p {
      top: 42% !important;
    }
  }
}
/***** End homepage *****/

/***** Departments *****/
section.departments {
  height: auto !important;
  padding-block: 2.5rem;

  .carts {
    flex-direction: column !important;
    gap: 3.5rem;
    position: initial !important;
    margin-top: 4rem;

    .cart {
      width: 95% !important;
      height: 60% !important;
      position: initial !important;

      .profile {
        height: 10rem !important;
      }
    }
  }
}
/***** End Departments *****/
